.testimonials {
  color: white;
  margin-bottom: 1rem;

  &__container {
    position: relative;
    padding-bottom: 4rem;
  }

  &__gradient-box {
    background: linear-gradient(170.96deg, #E3EFFA -14.92%, #A8CDFC 57.1%);
    border-radius: 25px;
    padding: 4rem 6rem 3rem;
  }

  &__navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 50px;
  }
}

.section__title--testimonials {
  text-align: center;
  margin-bottom: 3rem;
}

.slider {
  margin: 0 1px;

  &__item {
    border: 1px solid white;
    border-radius: 5px;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    align-items: center !important;
    overflow: hidden;
  }

  &__client-block {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 30px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 1px;
      background-color: white;
      height: 80%;
      right: 0;
    }
  }

  &__client-info {

  }

  &__photo {
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    width: 140px; /* Set the desired size */
    height: 140px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  &__name {
    font-weight: 700;
    color: white;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
  }

  &__position {
    color: white;
    font-size: 18px;
  }

  &__comment-block {
    padding: 30px;
  }

  &__comment {
    color: white;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 300;
    letter-spacing: 0.6px;
  }
}


.swiper {
  width: calc(100% - 2px);


  &-slide {
    height: auto;
    padding: 1px;
    box-sizing: border-box;
  }

  &-wrapper {
    height: auto;
  }

  &-button-next,
  &-button-prev {
    position: static;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    margin: 0;

    &::after {
      display: none;
    }
  }

  &-button-next {
    background: url('../../../dist/assets/images/testimonials/arrow.png') no-repeat center / contain;
    right: 450px !important;
    top: 37px !important;
  }

  &-button-prev {
    background: url('../../../dist/assets/images/testimonials/arrow.png') no-repeat center / contain;
    transform: rotate(180deg);
    left: 450px !important;
    top: 37px !important;
  }

  &-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    &-bullet {
      background: white;
      opacity: 0.5;

      &-active {
        opacity: 1;
      }
    }
  }
}
