@import "base/reset";
@import "base/variables";
@import "base/typography";

@import "components/header";
@import "components/hero";
@import "components/about";
@import "components/works";
@import "components/testimonials";
@import "components/contact";
@import "components/footer";

@import "layout/grid";

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section__title {
  text-transform: uppercase;
  font-family: "Solway", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 2rem;
}

main, section {
  margin-bottom: 2rem;
}
